{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <!-- IMAGE_FILE PASSED FROM ACCOUNT ROUTES -->
            <img class="rounded-circle account-img" src="{{ image_file_p }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <div>
            <!-- <img class="rounded account-img-fillers" src="{{ image_file }}">
            <img class="rounded account-img-fillers" src="{{ image_file }}">
            <img class="rounded account-img-fillers" src="{{ image_file }}">
            <img class="rounded account-img-fillers" src="{{ image_file }}">
            <img class="rounded account-img-fillers" src="{{ image_file }}"> -->
            
            <div>
            <input type="file" id="file" />
            <label for="file" data-toggle="tooltip" data-placement="top" title="Add an image" ><i class=" fa fa-plus-square fa-3x"></i></label>
            </div>

            {% for image in images %}
                {% if image == None %}
                <button class="btn" data-toggle="tooltip" data-placement="top" title="Add an image"><i class="account-img-icons fa fa-plus-square fa-3x"></i></button>
                {% else %}
                <img class="rounded account-img-fillers" src="{{ image }}">
                {% endif %}
            {% endfor %}
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.firstname.label(class="form-control-label") }}
                    {% if form.firstname.errors %}
                        {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.firstname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.firstname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.lastname.label(class="form-control-label") }}
                    {% if form.lastname.errors %}
                        {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lastname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lastname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-control-label">Age</label>
                    <input class="form-control form-control-lg" type="text" placeholder="{{ current_user.age }}" readonly>

                </div>
                <div class="form-group">
                    <label class="form-control-label">Birthdate</label>
                    <input class="form-control form-control-lg" type="text" placeholder="{{ current_user.birthdate }}" readonly>
                </div>
                <div class="form-group">
                    {{ form.gender.label(class="form-control-label") }}
                    {% if form.gender.errors %}
                    {{ form.gender(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.gender.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.gender(class="form-control form-control-lg") }}
                {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture_p.label() }}
                    {{ form.picture_p(class="form-control-file") }}
                    {% if form.picture_p.errors %}
                        {% for error in form.picture_p.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}    
                </div>
                <div class="form-group">
                    {{ form.picture_2.label() }}
                    {{ form.picture_2(class="form-control-file") }}
                    {% if form.picture_2.errors %}
                        {% for error in form.picture_2.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}    
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
