{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
    {% for user in users %}
    <div class="mb-3 mr-3">
        <div class="card" style="width: 10rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="text-center">
                <img class="rounded-circle usercard-img" src="/static/profile_pics/{{ user[12] }}" >
            </div>
                <div class="card-body text-center">
                <h5 class="card-title">{{ user[5] }}</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <a href="#" class="btn btn-success">Like</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}
<!-- <article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article> -->