{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
    {% if current_user.is_authenticated %}
    {% for user in users %}
        <div class="mb-3 mr-3">
            <div class="card" style="width: 10rem;">
                <div class="text-center">
                    <a href="{{ url_for('user_profile', username=user[1]) }}" data-toggle="tooltip" data-placement="top" title="Inspect Profile">
                        <img class="rounded-circle usercard-img" src="/static/profile_pics/{{ user[2] }}" >
                    </a>
                </div>
                    <div class="card-body text-center">
                    <h5 class="card-title">{{ user[1] }}</h5>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% if users %}
<div class="text-center">
    <div>
        <a href="{{ url_for('sort') }}" role="button" class="btn btn-block btn-outline-info">Sort</a>
    </div>
    <div>
        <a href="{{ url_for('filter') }}" role="button" class="btn btn-block btn-outline-info">Filter</a>
    </div>
</div>
{% else %}
{% endif %}
{% else %}
<h6>Please Register or Login</h6>
{% endif %}
{% endblock content %}
