{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
    {% for user in matched_users %}
        <div class="mb-3 mr-3">
            <div class="card" style="width: 10rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="text-center">
                    <a href="{{ url_for('user_profile', username=user[2]) }}" data-toggle="tooltip" data-placement="top" title="Inspect Profile">
                        <img class="rounded-circle usercard-img" src="/static/profile_pics/{{ user[3] }}" ></a>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ user[2] }}</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <!-- <a href="#" class="btn btn-success">Like</a> -->
                    <div class="text-center"><i class="account-img-icons fa fa-chain fa-2x"></i></div>
                    
                    <a href="{{ url_for('unlike_func', user_id=user[1]) }}" role="button" class="btn btn-warning">Unlike</a>
                    <a href="{{ url_for('block_user', user_id=user.user_id) }}" role="button" class="btn btn-danger">Block</a>
                    <a href="{{ url_for('report_user', username=user[2]) }}" role="button" class="btn btn-outline-danger">Report</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for user in currentuser_unmatched_likes %}
        <div class="mb-3 mr-3">
            <div class="card" style="width: 10rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="text-center">
                    <a href="{{ url_for('user_profile', username=user[3]) }}" data-toggle="tooltip" data-placement="top" title="Inspect Profile">
                        <img class="rounded-circle usercard-img" src="/static/profile_pics/{{ user[4] }}" ></a>
                </div>
                    <div class="card-body text-center">
                    <h5 class="card-title">{{ user[3] }}</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <!-- <a href="#" class="btn btn-success">Like</a> -->
                    <div class="text-center"><i class="account-img-icons fa fa-unlink fa-2x"></i></div>
                    <a href="{{ url_for('unlike_func', user_id=user[1]) }}" role="button" class="btn btn-warning">Unlike</a>
                    <a href="{{ url_for('report_user', username=user[2]) }}" role="button" class="btn btn-outline-danger">Report</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for user in otheruser_unmatched_likes %}
        <div class="mb-3 mr-3">
            <div class="card" style="width: 10rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="text-center">
                    <a href="{{ url_for('user_profile', username=user[2]) }}" data-toggle="tooltip" data-placement="top" title="Inspect Profile">
                        <img class="rounded-circle usercard-img" src="/static/profile_pics/{{ user[3] }}" ></a>
                </div>
                    <div class="card-body text-center">
                    <h5 class="card-title">{{ user[2] }}</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <!-- <a href="#" class="btn btn-success">Like</a> -->
                    <div class="text-center"><i class="account-img-icons fa fa-unlink fa-2x"></i></div>
                    <a href="{{ url_for('likes_func', user_id=user[1]) }}" role="button" class="btn btn-success">Like Back</a>
                    <a href="{{ url_for('report_user', username=user[2]) }}" role="button" class="btn btn-outline-danger">Report</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}