{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
    {% for user in matched_users %}
        <div class="mb-3 mr-3">
            <div class="card" style="width: 10rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="text-center">
                    <img class="rounded-circle usercard-img" src="/static/profile_pics/{{ user[3] }}" >
                </div>
                    <div class="card-body text-center">
                    <h5 class="card-title">{{ user[2] }}</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <!-- <a href="#" class="btn btn-success">Like</a> -->
                    <div class="text-center"><i class="account-img-icons fa fa-chain fa-2x"></i></div>
                    
                    <input class="btn btn-warning" type = "submit" value = "Unlike" />
                    <input class="btn btn-danger" type = "submit" value = "Report" />
                </div>
            </div>
        </div>
    {% endfor %}
    {% for user in currentuser_unmatched_likes %}
        <div class="mb-3 mr-3">
            <div class="card" style="width: 10rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="text-center">
                    <img class="rounded-circle usercard-img" src="/static/profile_pics/{{ user[12] }}" >
                </div>
                    <div class="card-body text-center">
                    <h5 class="card-title">{{ user[1] }}</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <!-- <a href="#" class="btn btn-success">Like</a> -->
                    <div class="text-center"><i class="account-img-icons fa fa-unlink fa-2x"></i></div>
                    <input class="btn btn-warning" type = "submit" value = "Unlike" />
                </div>
            </div>
        </div>
    {% endfor %}
    {% for user in otheruser_unmatched_likes %}
        <div class="mb-3 mr-3">
            <div class="card" style="width: 10rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="text-center">
                    <img class="rounded-circle usercard-img" src="/static/profile_pics/{{ user[3] }}" >
                </div>
                    <div class="card-body text-center">
                    <h5 class="card-title">{{ user[2] }}</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <!-- <a href="#" class="btn btn-success">Like</a> -->
                    <div class="text-center"><i class="account-img-icons fa fa-unlink fa-2x"></i></div>
                    <input class="btn btn-warning" type = "submit" value = "Like back" />
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}