{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <!-- Profile Image -->
        <div class="media">
            <img class="rounded-circle account-img" src="/static/profile_pics/{{ user.image_file_p }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <p class="text-secondary">See if online/Last Online</p>
            </div>
            <div class="text-center">
                <div>
                    <a href="{{ url_for('messages', user_id=user[1]) }}" role="button" class="btn btn-warning">Unlike</a>
                </div>
                <div>
                    <a href="{{ url_for('messages', user_id=user[1]) }}" role="button" class="btn btn-outline-danger">Report</a>
                </div>
            </div>
        </div>
        <!-- User Images -->
        <div>
            {% for image in images %}
                {% if image == None %}
                <button class="btn"><i class="account-img-icons fa fa-plus-square fa-3x"></i></button>
                {% else %}
                <img class="rounded account-img-fillers" src="{{ image }}">
                {% endif %}
            {% endfor %}
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <!-- Fame Rating -->
                <div class="mb-3">
                    <label class="form-control-label">Fame Rating</label>
                    <div class="progress" style="height: 20px;">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ user.famerating }}</div>
                </div>
                </div>
                <!-- Firstname -->
                <div class="form-group">
                    {{ form.firstname.label(class="form-control-label") }}
                    {% if form.firstname.errors %}
                        {{ form.firstname(class="form-control form-control-lg is-invalid", disabled="disabled") }}
                        <div class="invalid-feedback">
                            {% for error in form.firstname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.firstname(class="form-control form-control-lg", disabled="disabled") }}
                    {% endif %}
                </div>
                <!-- Lastname -->
                <div class="form-group">
                    {{ form.lastname.label(class="form-control-label") }}
                    {% if form.lastname.errors %}
                        {{ form.lastname(class="form-control form-control-lg is-invalid", disabled="disabled") }}
                        <div class="invalid-feedback">
                            {% for error in form.lastname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lastname(class="form-control form-control-lg", disabled="disabled") }}
                    {% endif %}
                </div>
                <!-- Username -->
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid", disabled="disabled") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg", disabled="disabled") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-control-label">Age</label>
                    <input class="form-control form-control-lg" type="text" placeholder="{{ user.age }}" readonly>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Birthdate</label>
                    <input class="form-control form-control-lg" type="text" placeholder="{{ user.birthdate }}" readonly>
                </div>
                <!-- Gender -->
                <div class="form-group">
                    {{ form.gender.label(class="form-control-label") }}
                    {% if form.gender.errors %}
                    {{ form.gender(class="form-control form-control-lg is-invalid", disabled="disabled") }}
                    <div class="invalid-feedback">
                        {% for error in form.gender.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.gender(class="form-control form-control-lg", disabled="disabled") }}
                {% endif %}
                </div>
                <!-- Sexual Preference -->
                <div class="form-group">
                    {{ form.sexual_pref.label(class="form-control-label") }}
                    {% if form.sexual_pref.errors %}
                    {{ form.sexual_pref(class="form-control form-control-lg is-invalid", disabled="disabled") }}
                    <div class="invalid-feedback">
                        {% for error in form.sexual_pref.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.sexual_pref(class="form-control form-control-lg", disabled="disabled") }}
                {% endif %}
                </div>
                <!-- Biography -->
                <div class="form-group">
                    {{ form.biography.label(class="form-control-label") }}
                    {% if form.biography.errors %}
                        {{ form.biography(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.biography.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.biography(class="form-control form-control-lg", disabled="disabled") }}
                    {% endif %}
                </div>
                <!-- Tags -->
                <div>
                    <p class="form-control-label">User Tags</p>
                    <div class="form-row">
                        <div class="col">
                            {% if form.user_tag1.errors %}
                            {{ form.user_tag1(class="form-control form-control-lg is-invalid", disabled="disabled") }}
                            <div class="invalid-feedback">
                                {% for error in form.user_tag1.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.user_tag1(class="form-control form-control-lg", disabled="disabled") }}
                        {% endif %}
                        </div>
                        <div class="col">
                            {% if form.user_tag2.errors %}
                            {{ form.user_tag2(class="form-control form-control-lg is-invalid", disabled="disabled") }}
                            <div class="invalid-feedback">
                                {% for error in form.user_tag2.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.user_tag2(class="form-control form-control-lg", disabled="disabled") }}
                        {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {% if form.user_tag3.errors %}
                            {{ form.user_tag3(class="form-control form-control-lg is-invalid", disabled="disabled") }}
                            <div class="invalid-feedback">
                                {% for error in form.user_tag3.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.user_tag3(class="form-control form-control-lg", disabled="disabled") }}
                        {% endif %}
                        </div>
                        <div class="col">
                            {% if form.user_tag4.errors %}
                            {{ form.user_tag4(class="form-control form-control-lg is-invalid", disabled="disabled") }}
                            <div class="invalid-feedback">
                                {% for error in form.user_tag4.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.user_tag4(class="form-control form-control-lg", disabled="disabled") }}
                        {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {% if form.user_tag5.errors %}
                            {{ form.user_tag5(class="form-control form-control-lg is-invalid", disabled="disabled") }}
                            <div class="invalid-feedback">
                                {% for error in form.user_tag5.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.user_tag5(class="form-control form-control-lg", disabled="disabled") }}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
