{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
    {% for user in userviews %}
        <div class="mb-3 mr-3">
            <div class="card" style="width: 10rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="text-center">
                    <a href="{{ url_for('user_profile', username=user[1]) }}" data-toggle="tooltip" data-placement="top" title="Inspect Profile"><img class="rounded-circle usercard-img" src="/static/profile_pics/{{ user[2] }}" ></a>
                </div>
                    <div class="card-body text-center">
                    <h5 class="card-title">{{ user[1] }}</h5>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
</div>
{% endblock content %}
